<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link href="/static/css/css.css" rel="stylesheet" type="text/css">
    {% if error %}
      <script>
        function getQueryVariable(variable)
        {
          var query = window.location.search.substring(1);
          var vars = query.split("&");
          for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable) {
              return pair[1];
            }
          }
          return(false);
        }
      </script>
    {% endif %}
</head>
<body>
  <div id="dynamic">
    <img src="/static/images/factoriologo.jpg" alt=""/><br />
    <a href="{{url_for('index')}}">Homepage</a>
    <div id="adminPanel">
      <a href="{{url_for('logout')}}">Logout</a>
    </div>
    <div id="header">
      <h1>Control Panel</h1>
    </div>
    <div>
      <h2>Game Status: {% if game_status != "" %} Running {% endif %} {% if game_status == "" %} Not Running {% endif %}</h2>
    </div>
    <form action="uploadSavegame" method="post" enctype="multipart/form-data" id="uploadSave">
        <label for="savegame">Select the save file to upload</label><br />
        <input type="file" name="savegame" id="savegame"><br />
        <input type="submit" name="submit" class="btn-style" value="Upload">
    </form><br />
    <form action="uploadMods" method="post" enctype="multipart/form-data" id="uploadMod">
      <label for="mod">Select the mod zip file to upload</label><br />
      <input type="file" name="mod" id="mod"><br />
      <input type="submit" name="submit" class="btn-style" value="Upload">
    </form><br />
      {% if error%}
        <script>alert(getQueryVariable("error"));</script>
      {% endif %}
    <div id="lists" style="text-align: left;">
      <h3>Savegame list</h3>
      <ul>
        {% for savegame in all_savegames %}
          <li>{{savegame}} &#09; <a href="{{url_for('deleteSave', savegame = savegame)}}">delete</a> &#09; <a href="{{url_for('runGame', savegame = savegame)}}">run</a></li>
        {% endfor %}
      </ul>

      <h3>Mods list</h3>
      <ul>
        {% for mod in all_mods %}
          <li>{{mod}} &#09; <a href="{{url_for('deleteMod', mod = mod)}}">delete</a> &#09; <a href="{{url_for('extractArchive', zipFile = mod)}}">extract</a></li>
        {% endfor %}
        {% for mod_folder in all_folders %}
          <li>{{mod_folder}} &#09; <a href="{{url_for('deleteFolder', mod_folder = mod_folder)}}">delete folder</a></li>
        {% endfor %}
      </ul>
    </div>
    <div id="stopGame">
      <h3>Stop the game</h3>
      <a href="{{url_for('stopGame')}}"><input type="button" name="" class="btn-style-serious" value="Stop Game"/></a>
    </div>
  </div>
</body>
</html>
