<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link href="/static/css/css.css" rel="stylesheet" type="text/css">
</head>
<body>
  <img src="/static/images/factoriologo.jpg" alt=""/>
  <div id="header">
    <h1>Control Panel</h1><a href="{{url_for('logout')}}" style="text-align: right">Logout</a>
  </div>
  <form action="uploadSavegame" method="post" enctype="multipart/form-data" id="uploadSavegame">
      <label for="savegame">Select the save file to upload</label><br />
      <input type="file" name="savegame" id="savegame"><br />
      <input type="submit" name="submit" value="Upload">
  </form>
  <form action="uploadMods" method="post" enctype="multipart/form-data" id="uploadMods">
    <label for="mod">Select the mod zip file to upload</label><br />
    <input type="file" name="mod" id="mod"><br />
    <input type="submit" name="submit" value="Upload">
  </form>
  <div>
    <h3>Savegame list</h3>
    <ul>
      {% for savegame in all_savegames %}
      <li>{{savegame}}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h3>Mods list</h3>
    <ul>
      {% for mod in all_mods %}
      <li>{{mod}}</li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
