<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link href="/static/css/css.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="dynamic">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <!--<ul style="font-weight: bold; color: red;">-->
        {% for message in messages %}
          <script>alert('{{ message }}');</script>
        {% endfor %}
        <!--</ul>-->
      {% endif %}
    {% endwith %}
    <img src="/static/images/factoriologo.jpg" alt=""/>
    <div id="adminPanel">
      <a href="{{url_for('login')}}">Admin Login</a><br /><br />
      <a href="{{url_for('control')}}">Control Panel</a>
    </div>
    <div id="header">
      <h1>Factorio Server Stats</h1>
    </div>
  </div>
</body>
</html>
