<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link href="/static/css/css.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="dynamic">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <!--<ul style="font-weight: bold; color: red;">-->
        {% for message in messages %}
          <script>alert('{{ message }}');</script>
        {% endfor %}
        <!--</ul>-->
      {% endif %}
    {% endwith %}
    <!-- <img src="/static/images/factoriologo.jpg" style="margin: 0 auto; display: block;" alt=""/> -->
    <img src="/static/images/factoriologo.jpg" alt=""/>
    <div id="adminPanel">
      {% if login_status == False %}
        <a href="{{url_for('login')}}">Admin Login</a><br /><br />
      {% endif %}
      <a href="{{url_for('control')}}">Control Panel</a><br /><br />
      {% if login_status == True %}
        <a href="{{url_for('logout')}}">Logout</a>
      {% endif %}
    </div>
    <div id="header">
      <h1>Factorio Server Stats</h1>
    </div>
    <h3 style="text-align: center;">All players online</h3>
    <div id="playerList">
      <table>
        {% for user in all_users %}
          <tr>
            <td>{{user}}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</body>
</html>
