<!DOCTYPE html>
<html>
<head>
    <title>Admin Login Page</title>
    <link href="/static/css/css.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="wrapper">
    <form action="loginSubmit" method="post" class="form-signin">
      <input type="text" class="form-control" placeholder="Admin Username" name="username" id="username"><br />
      <input type="password" class="form-control" placeholder="Admin Password" name="password" id="password"><br />
      <input type="submit" class="btn-style-login" name="submit" value="Login">
    </form>
  </div>
  <div id="error">
  {% if error %}
    <p>{{error}}</p>
  {% endif %}
  </div>
</body>
</html>
