<!DOCTYPE html>
<html>
<head>
    <title>Admin Login Page</title>
    <link href="/static/css/css.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div>
    <form action="loginSubmit" method="post">
      <label for="username">Admin username</label><br />
      <input type="text" name="username" id="username"><br />
      <label for="password">Admin password</label><br />
      <input type="password" name="password" id="password"><br />
      <input type="submit" name="submit" value="Login">
    </form>
  </div>
  {% if error %}
    <p>{{error}}</p>
  {% endif %}
</body>
</html>